* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.521),
    rgb(73, 100, 255)
  );
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.411);
  backdrop-filter: blur(5px);
  padding: 20px;
  z-index: 10;
}

.nav {
  display: flex;
  gap: 5rem;
}

.nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: black;
}

#about-section {
  padding: 20px;

  .about-h2 {
    margin-bottom: 1rem;
  }

  .article {
    display: flex;
    justify-content: space-between;

    .article1 {
      flex-basis: 80%;
    }

    .image1 {
      height: 300px;
    }
  }
}

#media-section {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .media-h2 {
    margin-bottom: 1rem;
    align-self: flex-start;
  }

  .media-elements {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }
}

#contact-section {
  padding: 20px;

  .container-h1 {
    align-self: flex-start;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    display: flex;
    width: 30%;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    gap: 4px;

    #name {
      border-radius: 5px;
      padding: 10px;
      outline: none;
      border: 0.5px solid rgb(49, 49, 49);
      margin-bottom: 10px;
    }
    #email {
      border-radius: 5px;
      padding: 10px;
      outline: none;
      border: 0.5px solid rgb(49, 49, 49);
    }
    #message {
      border-radius: 5px;
      padding: 10px;
      outline: none;
      border: 0.5px solid rgb(49, 49, 49);
      margin-bottom: 10px;
    }
    .submit {
      padding: 8px;
    }
  }
}

#multimedia-section {
  padding: 20px;

  .media-elements {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    justify-self: center;
  }
}

#canvas-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .canvas-main {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;

    .btn-elements {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;
    }

    #myCanvas {
      border-radius: 10px;
      border: 0.5px solid gray;
    }
  }
}

.btn {
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid rgba(128, 128, 128, 0);
  background-color: #4964ff;
  color: white;
  font-size: medium;
  width: max-content;
}

.btn:active {
  background-color: #0026ff;
  transform: translateY(1px);
  transition: all;
}

#events-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;

  #name {
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 0.5px solid gray;
  }

  #btn-hover-event:hover {
    background-color: #0026ff;
  }

  .type-something {
    outline: none;
    padding: 5px;
    width: 80%;
  }
}
